

ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 11px;
    border-radius: 100%;
}
 
.category-block {
    margin-bottom: 4px;
}
 
.category-banner {
    border-left: 8px solid var(--ion-color-secondary);
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}

$dim: 25em ;
.foodimg {
    /* max-height: 300; max-width: 300;  */
    max-height: $dim; 
    max-width: $dim; 
}